/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**** end reset ****/



body {
  background-color: #EFF8EF;
  font-family:Georgia,Utopia,Charter,serif;
}

#container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  padding: 20px;

  background-color: #FFFFFF;
}

@media (max-width: 600px) {
  body {
    background-color: #FFFFFF;
  }
  #container {
    margin-top: 0;
  }
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;

  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e0e0e0;
}
h2 {
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 19.4px;
}
h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.step1 li {
  padding-top: 5px;
}

.step1 li a, #restart {
  display: block;
  padding: 10px;

  text-decoration: none;
  background-color: #D6EDD6;
  color: #000000;
  border: solid 1px #85CA85;
  border-radius: 5px;
}

.step1 li a:hover {
  background-color: #AEDCAE;
}

.hidden {
  display: none;
}

#step2 table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#step2 table th, #step2 table td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#step2 table th {
  padding-right: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

#step2 table th:after {
  content: ":";
}
